{% extends "layouts/base.html" %}
{% load utils %}
{% block title %}Debian Images Team - Test Organiser{% endblock %}
{% block content %}
<h1><a href="/">Debian Images Team - Test Organiser</a></h1>
{% if options %}
<h2>Claiming a test for {{user.username }}</h2>
<h3>Using: {{ profile.name }}, {{ profile.architecture }}</h3>
<table class="table table-bordered table-hover">
  <thead class="table-info"><tr><th
  scope="col">Number</th><th
  scope="col">Description</th></tr></thead><tbody>
  {% for item in options %}
    <tr><td><a
    <td>{{ item.number }}</td>
    <td>{{ item.describe }}</td>
    </tr>
  {% endfor %}
</table>

<form method="POST" class="post-form">
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field.name }}
    {% endfor %}
    <div class="form-group">
    {% for field in form.visible_fields %}
       <span class="form-text text-muted">{{ field.name|upper }}</span>
       <span class="form-text">
       {{ field.help_text }}</span> {{ field }}
    {% endfor %}
    </div>
    <input type="hidden" name="profile" value="{{ profile.id }}"/>
    <input type="hidden" name="claimer" value="{{ user.id }}"/>
    <input type="hidden" name="result" value="0"/>
    <button type="submit" class="btn btn-primary">Claim</button>
</form>
{% else %}
<h2>Claiming a test for {{user.username }}</h2>
<h3>No tests found for {{ profile.name }}, {{ profile.architecture }}</h3>
{% endif %}
<hr/>
{% endblock %}
