{% extends "layouts/base.html" %}
{% load i18n %}
{% block title %}Debian Images Team - Test Organiser {% endblock %}
{% block content %}

<h1><a href="/">Debian Images Team - Test Organiser</a></h1>
<h2>Create a new account</h2>

<form method="post" class="post-form">
    {% csrf_token %}
  <div class="form-group">
    {% for field in form %}
    <div class="form-group">
    {% csrf_token %}
       <span class="form-text text-muted">{{ field.name|upper }}</span>
       <span class="form-text">
       {{ field.help_text|safe }}</span> {{ field }}
       {% for error in field.errors %}
            <div class="alert alert-warning">{{ error }}</div>
       {% endfor %}
    </div>
   {% endfor %}
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>
{% endblock %}
