{% extends "layouts/base.html" %}
{% load utils %}
{% block title %}Debian Images Team - Test Organiser{% endblock %}
{% block content %}
<h1><a href="/">Debian Images Team - Test Organiser</a></h1>
<h2>Details of completed test</h2>
<dl class="row">
<dt class="col-sm-3">Test number</dt>
<dd class="col-sm-9">{{ test.number }}
{% if test.result == test.RESULT_PASS %}
    <span class="badge badge-pill badge-success">{{ test.result|print_result }}</span>
{% elif test.result == test.RESULT_ABANDONED %}
    <span class="badge badge-pill badge-warning">{{ test.result|print_result }}</span>
    <div class="alert alert-primary" role="alert">{{ test.errata.content }}</div>
{% elif test.result == test.RESULT_FAIL %}
    <span class="badge badge-pill badge-danger">{{ test.result|print_result }}</span>
{% endif %}
</dd>
<dt class="col-sm-3">Tester</dt>
<dd class="col-sm-9">{{ test.claimer }}</dd>
<dt class="col-sm-3">Image</dt>
<dd class="col-sm-9">{{ test.image }}</dd>
<dt class="col-sm-3">Point release</dt>
<dd class="col-sm-9">{{ test.point }}</dd>
<dt class="col-sm-3">Install Mode</dt>
<dd class="col-sm-9">{{ test.mode|print_install_mode }}</dd>
<dt class="col-sm-3">Filesystem</dt>
<dd class="col-sm-9">{{ test.filesystem }}</dd>
<dt class="col-sm-3">Boot Method</dt>
<dd class="col-sm-9">{{ test.profile.boot_method|print_boot }}</dd>
<dt class="col-sm-3">Network</dt>
<dd class="col-sm-9">{{ test.network|print_network }}</dd>
<dt class="col-sm-3">Language</dt>
<dd class="col-sm-9">{{ test.language }}</dd>
<dt class="col-sm-3">Profile</dt>
<dd class="col-sm-9">{{ test.profile }}</dd>
<dt class="col-sm-3">Created</dt>
<dd class="col-sm-9">{{ test.created }}</dd>
<dt class="col-sm-3">Last updated</dt>
<dd class="col-sm-9">{{ test.updated }}</dd>
</dl>

{% endblock %}
