{% extends "layouts/base.html" %}
{% load i18n %}
{% load tz %}
{% load utils %}
{% block title %}Debian Images Team - Test Organiser{% endblock %}
{% block content %}
<h1><a href="/">Debian Images Team - Test Organiser</a></h1>
<h2>Failed test</h2>

{% for test in errata.test_records.all %}
<dl class="row">
<dt class="col-sm-3">Test number</dt>
<dd class="col-sm-9">{{ test.number }}</dd>
<dt class="col-sm-3">Image</dt>
<dd class="col-sm-9">{{ test.image }}</dd>
<dt class="col-sm-3">Install Mode</dt>
<dd class="col-sm-9">{{ test.mode|print_install_mode }}</dd>
<dt class="col-sm-3">Filesystem</dt>
<dd class="col-sm-9">{{ test.filesystem }}</dd>
<dt class="col-sm-3">Network</dt>
<dd class="col-sm-9">{{ test.network|print_network }}</dd>
<dt class="col-sm-3">Language</dt>
<dd class="col-sm-9">{{ test.language }}</dd>
<dt class="col-sm-3">Profile</dt>
<dd class="col-sm-9">{{ test.profile }}</dd>
</dl>
{% endfor %}
<h3>Error message</h3>
{{ errata.content }}

{% endblock %}
