<!DOCTYPE html>
{% load static %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet"
    type="text/css"
    href="{% static "organiser/css/bootstrap.css" %}">
  <style><!-- " -->

  </style>
  {% block styles %}{% endblock %}
  {% block extrahead %}{% endblock %}
</head>

<body onload="fix_anchor_offset()">
{% block body %}
<div class="container">
  {% block content %}{% endblock %}
</div>
<div id="footer">
  <div class="container">
    <p class="text-center"><a
            href="{% static "organiser/docs/index.html" %}"><!-- " -->Support</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
            href="https://salsa.debian.org/images-team/ditto">Source code</a></p>
    <p class="text-muted text-center">DITTO is free software developed by the <a
            href="http://www.debian.org">Debian</a> Images Team. Ditto is distributed under the terms of the <a
            href="http://www.gnu.org/licenses/agpl-3.0.html" >GNU Affero General Public License version 3</a>.<br />
            <strong>You have the right to obtain source code of any server side
            installations of this software that you interact with.</strong>.<br/>Ditto uses the <a
            href="https://getbootstrap.com/">bootstrap</a> toolkit which is released
            under the terms of the <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">MIT</a> license
            </p>
  </div>
</div>
{% endblock %}

<script type="text/javascript" src="{% static "organiser/js/jquery.min.js" %}"></script><!-- " -->
<script type="text/javascript" src="{% static "organiser/js/bootstrap.min.js" %}"></script><!-- " -->
{% block scripts %}
{% endblock scripts %}
</body>
</html>
