{% extends "layouts/base.html" %}

{% block title %}Sign in{% endblock %}

{% block content %}
{% if next %}
<h2>You need to sign in to access this page</h2>
{% else %}
<h2>Sign in to DITTO</h2>
{% endif %}


<div class="row">
  <div class="col-md-6">
    <h3 class="modal-header">Debian Images Team - Test Organiser</h3>
    <h4 class="modal-header">Local account</h4>
    <form class="form-horizontal" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.GET.next }}" />
      <div class="form-group{% if form.errors %} has-error{% endif %}">
        <label class="col-md-2 control-label" for="id_username">Username</label>
        <div class="col-md-4">
          {{ form.username }}
          {% for error in form.username.errors %}
          <p class="help-block">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
      <div class="form-group{% if form.errors %} has-error{% endif %}">
        <label class="col-md-2 control-label" for="id_password">Password</label>
        <div class="col-md-4">
          {{ form.password }}
          {% for error in form.password.errors %}
          <p class="help-block">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 col-md-offset-2">
          <button class="btn btn-success" type="submit">Login</button>
          <a href="{% url 'password_reset' %}">Reset password</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
