{% extends "layouts/base.html" %}

{% block title %}Password reset complete{% endblock %}

{% block big_message %}Success!{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <p>Your password has been set.  You may go ahead and log in now.</p>
    <p><a class="btn btn-success" href="{{ login_url }}">Log in</a></p>
  </div>
</div>
{% endblock %}
