{% extends "layouts/base.html" %}

{% block title %}{{ block.super }}| Password changed{% endblock %}

{% block extrahead %}
  <meta http-equiv="refresh" content="5;url={% url 'index' %}">
{% endblock %}

{% block content %}
<h2>Your new password has been set</h2>

<p>You will be redirected to the <a href="{% url 'index' %}">home</a> page in 5 seconds ...</p>

{% endblock %}
